@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --carne: #f2f2e6;
    --verde: rgb(64, 195, 130);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--carne);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estructura principal */
header {
    margin: 1rem 0;
}

main {
    flex-grow: 1;
    padding: 0rem 1rem;
}

@media (min-width: 768px) {
    main {
        padding: 0px;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer ul {
    list-style: none;
    margin: 1rem 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: var(--verde);
}

/* Barra de navegación */
.barra-navegacion {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.barra-navegacion ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.barra-navegacion a {
    text-decoration: none;
    color: black;
}

.barra-navegacion a:hover,
.barra-navegacion a.activo {
    color: var(--verde);
}

/* Contenido principal */
section {
    text-align: center;
}

h2 {
    margin: 1rem 0;
    text-align: center;
}

/* Contenedor de recetas */
.contenedor-recetas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 0 1rem;
}

@media (min-width: 1024px) {
    .contenedor-recetas {
        flex-direction: row;
    }
}

/* Tarjeta de receta */
.receta {
    width: 100%;
    margin: 1rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.detalles {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.detalles p {
    background-color: var(--carne);
    border-radius: 8px;
    padding: 10px;
}

/* Imagen de la receta */
.imagen-receta {
    height: 250px;
    overflow: hidden;
}

.imagen-receta img {
    width: 100%;
    height: 100%;
}

/* Sección de bienvenida */
.portada {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bienvenida,
.explicacion-web {
    max-width: 700px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
}

.explicacion-web {
    padding: 1.5rem;
    border-radius: 10px;
}
