@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


:root {
    --carne: #f2f2e6;
    --verde: rgb(64, 195, 130);
}

/*--------------------
Para todas las páginas
---------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--carne);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }
}

header h1 {
    display: flex;
    align-items: center;
}

header img {
    width: auto;
    height: auto;
}

main {
    flex-grow: 1;
    padding: 0 1rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

footer ul {
    list-style: none;
    margin: 1rem 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: var(--verde);
}

.barra-navegacion {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.barra-navegacion ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.barra-navegacion a {
    text-decoration: none;
    color: black;
}

.barra-navegacion a:hover,
.barra-navegacion a.activo {
    color: var(--verde);
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--verde);
}

h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}


/* ------------
Para index.html
--------------- */

.portada {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bienvenida,
.explicacion-web {
    max-width: 700px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    text-align: center;
}

.boton {
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--carne);
    width: fit-content;
    padding: 0.5rem;
}

.titulo-paginas {
    margin: 1rem auto;
    font-size: 2rem;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* ----------------
Para categoria.html
------------------- */

.filtro-categorias {
    background-color: white;
    padding: 1rem;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filtro-categorias label {
    font-weight: bold;
}

.contenedor-recetas {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .contenedor-recetas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .contenedor-recetas {
        grid-template-columns: repeat(3, 1fr);
    }
}

.receta {
    width: 100%;
    margin: 1rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.receta:hover {
    color: black;
}

.receta h3 {
    margin: 1rem 0;
    text-align: center;
}

.detalles {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.detalles p {
    background-color: var(--carne);
    border-radius: 8px;
    padding: 10px;
}

.imagen-receta {
    height: 250px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#paginacion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#paginacion ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

#paginacion ul li a {
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 0 7px;
}

#paginacion ul li a:hover {
    color: white;
    background-color: var(--verde);
    border: 2px solid var(--verde);
}

#paginacion ul li:first-of-type a {
    color: white;
    background-color: var(--verde);
    border: 2px solid var(--verde);
}

/* ---------------
Para detalles.html
------------------ */

.breadcrumb {
    text-align: center;
}

@media (min-width: 768px) {
    .breadcrumb {
        text-align: left;
    }
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
}

.detalles-receta {
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .detalles-receta {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
}

.multimedia {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.textos {
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo:last-of-type {
    padding-bottom: 1rem;
}

.campo h3 {
    text-align: left;
    border-radius: 8px;
    background-color: var(--carne);
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    width: fit-content;
}

.campo p {
    background-color: var(--carne);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    text-align: center;
}

.campo ul, .campo ol {
    background-color: var(--carne);
    border-radius: 8px;
    margin: 0 1rem;
    padding: 0.5rem 2rem;
}

.campo img {
    background-color: var(--carne);
    padding: 1rem 1rem;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
}

.campo video {
    background-color: var(--carne);
    padding: 1rem 1rem;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    height: 100%;
    object-fit: fill;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 2rem auto;
}

.imagenes-relacionadas {
    margin-top: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.imagenes-relacionadas h2 {
    margin-bottom: 1rem;
}

.contenedor-relacionadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    .contenedor-relacionadas {
        flex-direction: row;
    }
}

.imagen-relacionada {
    height: 400px;
    background-color: var(--carne);
    padding: 1rem;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .imagen-relacionada {
        flex: 1;
    }
}

.imagen-relacionada img {
    width: 100%;
}


/*---------------
Para enlaces.html
----------------- */

.contenedor-enlaces {
    max-width: 700px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    text-align: center;
}

.contenedor-enlaces ul {
    list-style-position: inside;
    text-align: center;
    display: inline-block;
}

.contenedor-enlaces li {
    text-align: left;
}

#nota {
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
    padding: 0.6rem;
    background-color: var(--carne);
    border-left: 8px solid var(--verde);
    border-radius: 8px;
}

